@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

.title{
    color: grey;
    font-family: 'Goldman', cursive;
    font-size: 30px;  
    line-height: 1.3em;
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 20px; 
}

.bookcase{
    font-family: 'Xanh Mono', monospace;
    margin: auto;
    font-size: 25px; 
    line-height: 1.5em;
    padding-bottom: 10px; 

  
}